body{height: 200vh;}


.home-image{
    height: 85vh;
    background-image: url("./images/homepagev2.png") !important;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px !important;
}
