body {
    height: 200vh;
    background-color: #F0F0F3;
}

.home-image {
    height: 85vh;
    background-image: url("./images/homepagev2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0px;
}

.seperator-container {
    width: 60vw;
}